# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Package metadata
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Whippet output
whippet_last_output.json
